<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#"><strong>HMS</strong></a>-->
    </div>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
                    </div>
                    <!-- /input-group -->
                </li>
                <!-- Set Up -->
                <li>
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> 메인메뉴 <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/main">접속자 현황</a>
                        </li>
                        <li>
                            <a href="/main/status/chat">대화 목록</a>
                        </li>
                        <li>
                            <a href="#">친구 목록</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <!-- Sensor -->
                <li>
                    <a href="#" class="tablinks" id="tabOther"><i class="fa fa-edit fa-fw"></i> 설정<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#" id="tabOtherProfile">프로필 설정</a>
                        </li>
                        <li>
                            <a href="#" id="tabOtherFriend">친구 설정</a>
                        </li>
                        <li>
                            <a href="#" id="tabOtherSchedule">스케줄 설정</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
</body>
</html>