<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../javascripts/external.js"></script>
    <script type="text/javascript" src="../javascripts/test3.js"></script>
    <title>External JS Globals - index2.php</title>
</head>
<body>
<button type="button" id="button1" onclick="f1();"> fire f1 </button>
<br />
<button type="button" id="button2" onclick="f2();"> fire f2 </button>
<br />
<button type="button" id="button3"> fire f3 </button>
<br />

</body>
</html>