


    /* ---------------------- HIDE -------------------------- */


#tcExDay_1 {
    display: none;
}

#tcExDay_2{
    display: none;
}

#tcExDay_3 {
    display: none;
}
#tcExDay_4 {
    display: none;
}
#tcExDay_5 {
    display: none;
}
#tcExDay_6 {
     display: none;
}
#tcExDay_7 {
    display: none;
}